// font-family: 'Comic Neue', cursive;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

.scroll {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    // margin:  0 auto;
    // padding: 0px;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    font-family: 'Comic Neue', cursive;
    background: radial-gradient(circle, rgba(43, 44, 46, 1) 13%, rgba(25, 25, 25, 1) 65%);
    width: 100%;
}

.section-title {
    margin: 40px;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    // border: 2px solid red;
}

// project 1
.container-project-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;
}
.cards {
    display: flex;
    width: 1000px;
    .card {
        position: relative;
        margin: 10px;
        height: 800px;
        width: 50%;
        text-align: center;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
        .btn-card {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            background: none;
            border: none;
            color: #fff;
            text-shadow: 2px 2px 5px rgba(0, 0, 0);
            cursor: pointer;
            z-index: 10;
            // border: 2px solid red;
            i {
                font-size: 20px;
            }
        }
        .text {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // margin: 0 auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 80px 30px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.85);
            clip-path: circle(0 at 50% 90%);
            transition: clip-path 0.8s;
            // transform: translateX(-50%);
            .card-title {
                font-size: 34px;
                color: #ddd;
            }
            .card-subtitle {
                margin-bottom: 30px;
                font-size: 30px;
                color: #d8ae47;
            }
        }
    }
    .one {
        background-image: url('../assets/img/portrait-woman_1920.jpg');
    }
    .two {
        background-image: url('../assets/img/man-1920.jpg');
    }

}

.btn-card:hover ~ .text {
    clip-path: circle(120% at 50% 90%);
}



// project 2
.container-project-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    // border: 2px solid red;
    .card {
        position: relative;
        margin: 20px 80px;
        width: 400px;
        height: 700px;
        cursor: pointer;
        perspective: 800px; //odsuwamy sie warstwami. Nadaje g켹캧bi obrazu
        // border: 2px solid blue;
        .img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            transition: 0.8s;
        }
        .one {
            background-image: url('../assets/img/project-2/architecture-1920.jpg');
        }
        .two {
            background-image: url('../assets/img/project-2/good-1920.jpg');
        }
        .three {
            background-image: url('../assets/img/project-2/rain-1920.jpg');
        }
        .text {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 30px;
            border-radius: 15px;
            text-align: center;
            transition: 0.8s;
            opacity: 0;
            background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
            // background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8);

            .card-title {
                margin-top: 450px;
                margin-bottom: 20px;
            }
        }
        .text-one {
            transform: rotateX(-180deg);
        }
        .text-two {
            transform: rotateY(-180deg);
        }

    }
    .card:hover .text {
        transform: rotate(0);
        opacity: 1;

    }
    .card:hover .one {
        transform: rotateX(180deg);
        opacity: 0;
    }
    .card:hover .two {
        transform: rotateY(-180deg);
        // opacity: 0;
    }
    .card:hover .three {
        animation: up 0.8s;
    }
    .card:hover .text-three {
        animation: down 0.8s;
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-60%); // obraz podje콮d콮a do g칩ry
    }
    80% {
       opacity: 1;
    }
    100% {
        opacity: 0; // z dwoma opacity mamy effect zanikania 
     }
}

@keyframes down {
    0% {
        transform: translateY(0);
        z-index: -1;
    }
    50% {
        transform: translateY(60%); // obraz podje콮d콮a do g칩ry
        z-index: -1;
    }
    100% {
        z-index: 1;
        // z-index-y  effect przetasowania 
     }

}

// project 3
.container-project-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    // border: 2px solid red;
    .card {
        position: relative;
        // margin: 20px 80px;
        width: 800px;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
        animation: fade 3s;
        // cursor: pointer;
        // border: 2px solid blue;
        .bg-img {
            width: 100%;
            height: 100%;
            background-image: url('/project-1/assets/img/project-3/nature-winter_-1920.jpg');
            background-size: cover;
            background-position: center;
            
        }
        .girl-img {
            position: absolute;
            // top: 80px;
            right: 0;
            bottom: -400px;
            width: 500px;
            // z-index: 1;
            animation: move 3s forwards;
        }
        .text-content {
            position: absolute;
            top: 60px;
            left: 60px;
            font-size: 0; //콮eby nie by켹o przerw m캧dzy literami
            text-transform: uppercase;
            span {
                display: inline-block; //콮eby nie by켹o przerw m캧dzy literami
                font-size: 50px; //콮eby nie by켹o przerw m캧dzy literami
                color: #fff;
                text-shadow: 2px 2px 5px #000;
                animation: rotate-heading 2s 1s linear forwards;
                opacity: 0;
            }
            span:nth-child(2) {
                animation-delay: 1s;
            }
            span:nth-child(3) {
                animation-delay: 1.2s;
            }
            span:nth-child(4) {
                animation-delay: 1.4s;
            }
            span:nth-child(5) {
                animation-delay: 1.6s;
            }
            span:nth-child(6) {
                animation-delay: 1.8s;
            }
            span:nth-child(7) {
                animation-delay: 2s;
            }
            span:nth-child(8) {
                animation-delay: 2.2s;
            }
            
        }
        .text {
            position: absolute;
            top: 111px;
            left: 100px;
            width: 260px;
            height: 80px;
            font-size: 36px;
            color: #fff;
            text-shadow: 2px 2px 5px #000;
            overflow: hidden;
        }
        .text::before {
            display: block;
            position: absolute;
            top: -60px;
            left: 0;
            content: '01/01/2023';
            animation: slide-text 1s 3s forwards;
        }
    }
}


@keyframes move {
    0% { 
        opacity: 0;
    }
    50% { 
        opacity: 1; // dziewczyna si캧 pojawia
        bottom: 0;
    }
    100% { 
        bottom: 0;
    }

}


//g켹칩wny obrazek pojawia si캧 p켹ynnie
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


// litery si캧 obracaj캔
@keyframes rotate-heading {
    from {
        transform: rotateY(90deg);
        filter: blur(3px);
        opacity: 0;
    }
    to {
        transform: rotateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-text {
    from {
        top: -60px;
    }
    to {
        top: 10px;
    }
}

// section links
.container-links {
    display: flex;
    margin-bottom: 40px;
    padding: 80px 140px;
    // height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0 0 15px rgba(0, 140, 255, 0.6);
    // border: 2px solid red;
    .link {
        position: relative;
        padding: 10px 20px;
        font-size: 40px;
        color: rgb(0, 140, 255);
        text-decoration: none;
        transition: .3s;
    }
    .link::before {
        transition: .3s;
    }
    .link::after {
        transition: .3s;
    }
}

// Do klasy .one::after trzeba doda캖 transition: transform .3s;
// Wtedy kreska nie b캧dzie tak dziwnie skaka켹a. 游녨



// Warto te콮 doda캖, 콮e z jakiego콑 powodu u mnie na nagraniu dzia켹a odwr칩cony transform-origin. 
// Tak콮e tam, gdzie ja na nagraniu mam left powinno by캖 right i na odwr칩t. 游뗵

// Poprawi캧 ten odcinek, kiedy sko켻cz캧 aktualizowa캖 starsze kursy.

// first link
.one::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: transform .3s;
    transform: scaleX(0);
    transform-origin: right;

}

.one:hover::after {
    transform: scaleX(1); // kreska pojawia si캧 od 콑rodka w boki
    // je콑켹i pisa캖 bez transform-origin: left;
    transform-origin: left;
}