* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.scroll {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Comic Neue", cursive;
  background: radial-gradient(circle, rgb(43, 44, 46) 13%, rgb(25, 25, 25) 65%);
}

main {
  width: 100%;
}

.section {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.container-project-1 {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-around;
}
.cards .card {
  position: relative;
  margin: 20px;
  height: 800px;
  width: 50%;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
.cards .card .btn-card {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 10;
}
.cards .card .btn-card i {
  font-size: 20px;
}
.cards .card .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-clip-path: circle(0 at 50% 90%);
          clip-path: circle(0 at 50% 90%);
  transition: -webkit-clip-path 0.8s;
  transition: clip-path 0.8s;
  transition: clip-path 0.8s, -webkit-clip-path 0.8s;
}
.cards .card .text .card-title {
  font-size: 34px;
  color: #ddd;
}
.cards .card .text .card-subtitle {
  margin-bottom: 30px;
  font-size: 30px;
  color: #d8ae47;
}
.cards .card-one {
  background-image: url("../assets/img/portrait-woman_1920.jpg");
}
.cards .card-two {
  background-image: url("../assets/img/man-1920.jpg");
}

.btn-card:hover ~ .text {
  -webkit-clip-path: circle(120% at 50% 90%);
          clip-path: circle(120% at 50% 90%);
}

.container-project-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  padding: 0 20px;
}
.container-project-2 .card {
  position: relative;
  margin: 20px;
  width: 400px;
  height: 700px;
  cursor: pointer;
  perspective: 800px;
}
.container-project-2 .card .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  transition: 0.8s;
}
.container-project-2 .card .one {
  background-image: url("../assets/img/project-2/architecture-1920.jpg");
}
.container-project-2 .card .two {
  background-image: url("../assets/img/project-2/good-1920.jpg");
}
.container-project-2 .card .three {
  background-image: url("../assets/img/project-2/rain-1920.jpg");
}
.container-project-2 .card .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  transition: 0.8s;
  opacity: 0;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}
.container-project-2 .card .text .card-title {
  margin-top: 450px;
  margin-bottom: 20px;
}
.container-project-2 .card .text-one {
  transform: rotateX(-180deg);
}
.container-project-2 .card .text-two {
  transform: rotateY(-180deg);
}
.container-project-2 .card:hover .text {
  transform: rotate(0);
  opacity: 1;
}
.container-project-2 .card:hover .one {
  transform: rotateX(180deg);
  opacity: 0;
}
.container-project-2 .card:hover .two {
  transform: rotateY(-180deg);
}
.container-project-2 .card:hover .three {
  animation: up 0.8s;
}
.container-project-2 .card:hover .text-three {
  animation: down 0.8s;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
    z-index: -1;
  }
  50% {
    transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
.container-project-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.container-project-3 .card {
  position: relative;
  width: 800px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  animation: fade 3s;
}
.container-project-3 .card .bg-img {
  width: 100%;
  height: 100%;
  background-image: url("/project-1/assets/img/project-3/nature-winter_-1920.jpg");
  background-size: cover;
  background-position: center;
}
.container-project-3 .card .girl-img {
  position: absolute;
  right: 0;
  bottom: -400px;
  width: 500px;
  animation: move 3s forwards;
}
.container-project-3 .card .text-content {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 0;
  text-transform: uppercase;
}
.container-project-3 .card .text-content span {
  display: inline-block;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  animation: rotate-heading 2s 1s linear forwards;
  opacity: 0;
}
.container-project-3 .card .text-content span:nth-child(2) {
  animation-delay: 1s;
}
.container-project-3 .card .text-content span:nth-child(3) {
  animation-delay: 1.2s;
}
.container-project-3 .card .text-content span:nth-child(4) {
  animation-delay: 1.4s;
}
.container-project-3 .card .text-content span:nth-child(5) {
  animation-delay: 1.6s;
}
.container-project-3 .card .text-content span:nth-child(6) {
  animation-delay: 1.8s;
}
.container-project-3 .card .text-content span:nth-child(7) {
  animation-delay: 2s;
}
.container-project-3 .card .text-content span:nth-child(8) {
  animation-delay: 2.2s;
}
.container-project-3 .card .text {
  position: absolute;
  top: 111px;
  left: 100px;
  width: 260px;
  height: 80px;
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  overflow: hidden;
}
.container-project-3 .card .text::before {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  content: "01/01/2023";
  animation: slide-text 1s 3s forwards;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate-heading {
  from {
    transform: rotateY(90deg);
    filter: blur(3px);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-text {
  from {
    top: -60px;
  }
  to {
    top: 10px;
  }
}
.container-links {
  display: flex;
  margin: 0 20px 40px 20px;
  padding: 80px 40px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background-color: #222;
  box-shadow: 0 0 15px rgba(0, 140, 255, 0.6);
}
.container-links .link {
  position: relative;
  padding: 10px 20px;
  font-size: 40px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  transition: 0.3s;
}
.container-links .link::before {
  transition: 0.3s;
}
.container-links .link::after {
  transition: 0.3s;
}

.one::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}

.one:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.two::before,
.two::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
}

.two::before {
  top: -2px;
  left: -5px;
  border-top: 0 solid #fff;
  border-left: 0 solid #fff;
}

.two::after {
  bottom: -2px;
  right: -5px;
  border-bottom: 0 solid #fff;
  border-right: 0 solid #fff;
}

.two:hover::before,
.two:hover::after {
  width: 50px;
  height: 50%;
}

.two:hover::before {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.two:hover::after {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.three::before,
.three::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0;
  border-bottom: 2px solid #fff;
}

.three::before {
  right: 50%;
}

.three::after {
  left: 50%;
}

.three:hover::before,
.three:hover::after {
  width: 50%;
}

.four {
  z-index: 0;
}

.four::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
}

.four:hover {
  color: #000;
}

.four:hover::after {
  height: 100%;
}

.five {
  z-index: 0;
}

.five:hover {
  animation: blink 0.5s;
}

.five::before,
.five::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #fff;
  z-index: -1;
}

.five::before {
  left: 0;
}

.five::after {
  right: 0;
}

.five:hover::before,
.five:hover::after {
  animation: background 0.5s 0.4s forwards;
}

@keyframes background {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-buttons .button {
  position: relative;
  margin: 20px;
  padding: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ddd;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #ddd;
}
.container-buttons button::before,
.container-buttons button::after {
  display: block;
  position: absolute;
  content: "";
  transition: all 0.5s;
  z-index: -1;
}
.container-buttons .btn-border-none {
  border: none;
  transition: 0.5s;
}
.container-buttons .btn-border-none:hover {
  box-shadow: 2px 3px 0 0 rgba(0, 140, 255, 0.8), inset 11px 6px 10px rgb(0, 0, 0);
}
.container-buttons .border {
  border-radius: 0;
  overflow: visible;
  transition: 0.8s;
}
.container-buttons .border::before,
.container-buttons .border::after {
  width: 100%;
  height: 100%;
}
.container-buttons .border::before {
  top: 0;
  left: 0;
}
.container-buttons .border::after {
  bottom: 0;
  right: 0;
}
.container-buttons .border:hover {
  color: rgb(0, 140, 255);
  border: 1px solid transparent;
}
.container-buttons .border:hover::before {
  top: -10px;
  left: -10px;
  border-top: 5px solid rgb(0, 140, 255);
  border-left: 5px solid rgb(0, 140, 255);
}
.container-buttons .border:hover::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 5px solid rgb(0, 140, 255);
  border-right: 5px solid rgb(0, 140, 255);
}
.container-buttons .glass::before {
  top: -30px;
  left: -150px;
  height: 160%;
  width: 100%;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  transform: rotate(20deg);
}
.container-buttons .glass:hover::before {
  left: 150px;
}

.slide {
  width: 180px;
  height: 95px;
}

.slide::before {
  top: -10px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.slide::after {
  top: 0;
  left: -10px;
  height: 100%;
  border-left: 1px solid #ddd;
}

.slide:hover::before {
  top: 200px;
  transition-delay: 0.1s;
}

.slide:hover::after {
  left: 200px;
}

.span1,
.span2 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.span1 {
  left: 50%;
  transition: 0.5s;
}

.span2 {
  left: -50%;
  transition: 0.5s 0.1s;
}

.slide:hover .span1 {
  left: 150%;
}
.slide:hover .span2 {
  left: 50%;
}

.slice::before,
.slice::after {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 140, 255);
}

.slice::before {
  top: -50%;
  left: -100%;
}

.slice::after {
  bottom: -50%;
  right: -100%;
}

.slice:hover::before {
  left: 0;
}

.slice:hover::after {
  right: 0;
}

.section-menu {
  height: 500px;
}

nav {
  margin-top: 100px;
  color: #ddd;
  background-color: #292929;
  text-align: center;
}

ul {
  list-style: none;
  font-size: 24px;
}

.menu-item {
  display: inline-block;
  height: 100px;
  width: 300px;
  line-height: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #363636;
}

.dropdown {
  position: absolute;
  width: 300px;
}

.dropdown li {
  display: none;
  background-color: #50515A;
  transition: color 0.3s;
  opacity: 0;
}

.dropdown li:hover {
  color: #008cff;
}

.menu-item:hover .dropdown li {
  display: block;
  animation: menu1 0.5s forwards;
}

.menu-item:hover .dropdown li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu-item:hover .dropdown li:nth-child(3) {
  animation-delay: 0.4s;
}

.menu-item:hover .dropdown li:nth-child(4) {
  animation-delay: 0.6s;
}

.menu-item:hover .dropdown li:nth-child(5) {
  animation-delay: 0.8s;
}

.menu-item:hover .dropdown li:nth-child(6) {
  animation-delay: 1s;
}

.item-two:hover .dropdown li {
  animation: menu2 0.5s forwards;
}

.item-three:hover .dropdown li {
  animation: menu3 0.5s forwards;
}

.item-four:hover .dropdown li {
  animation: menu4 0.5s forwards;
  transform-origin: top;
}

@keyframes menu1 {
  from {
    opacity: 0;
    transform: rotate(36deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes menu2 {
  from {
    opacity: 0;
    transform: rotateY(60deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
@keyframes menu3 {
  from {
    opacity: 0;
    transform: rotateY(-60deg) rotateX(60deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0) rotateX(0);
  }
}
@keyframes menu4 {
  from {
    opacity: 0;
    transform: scale(0.8) rotateY(-40px);
  }
  to {
    opacity: 1;
    transform: scale(1) rotateY(0);
  }
}
@media (max-width: 1200px) {
  .container-project-1 .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-project-1 .cards .card {
    height: 800px;
    width: 60%;
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .container-project-2 .card {
    width: 300px;
    height: 560px;
  }
  .container-project-3 .card {
    margin: 20px 60px;
    width: 720px;
    height: 360px;
  }
  .container-links .link {
    padding: 10px;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .container-project-1 .cards .card {
    height: 720px;
    width: 70%;
  }
  .container-project-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .container-project-2 .card {
    width: 360px;
    height: 630px;
  }
  .container-project-3 .card {
    margin: 20px 60px;
    max-width: 720px;
    width: 100%;
    height: 360px;
  }
  .container-project-3 .card .girl-img {
    width: 400px;
  }
  .container-project-3 .card .text-content {
    top: 40px;
    left: 30px;
  }
  .container-project-3 .card .text-content span {
    font-size: 40px;
  }
  .container-project-3 .card .text {
    top: 90px;
    left: 90px;
    font-size: 30px;
  }
  .container-links .link {
    margin: 0 5px;
    padding: 10px;
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .container-project-1 .cards .card {
    height: 640px;
    width: 80%;
  }
  .container-project-2 .card {
    width: 300px;
    height: 560px;
  }
  .container-project-3 .card {
    margin: 20px 50px;
    max-width: 720px;
    width: 100%;
    height: 340px;
  }
  .container-project-3 .card .girl-img {
    width: 320px;
  }
  .container-project-3 .card .text-content {
    top: 40px;
    left: 20px;
  }
  .container-project-3 .card .text-content span {
    font-size: 36px;
  }
  .container-project-3 .card .text {
    top: 80px;
    left: 60px;
    font-size: 26px;
  }
  .container-links {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container-links .link {
    margin: 10px 5px;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */